
<ion-modal-view>
    <ion-content class="modalContactsContent">

        <div class="row nopadding headerChooseContact">
            <div class="col nopadding alignHeaderContact">
                <div class="" on-tap="dash.closeContact()">
                    <i class="icon ion-ios-close-empty"></i>
                </div>
            </div>
        </div>

        <div class="row nopadding">
            <div class="col nopadding back-back-advise">
                <ul class="list">
                    <li class="item" on-tap="dash.closeContact('Luciano Wehrli')">
                        Luciano Wehrli
                    </li>
                    <li class="item" on-tap="dash.closeContact('Josep Maria Viladegut')">
                        Josep Maria Viladegut
                    </li>
                    <li class="item" on-tap="dash.closeContact('avid Castellà')">
                        David Castellà
                    </li>
                    <li class="item" on-tap="dash.closeContact('Alberto Herraiz')">
                        Alberto Herraiz
                    </li>
                </ul>

            </div>
        </div>


    </ion-content>
</ion-modal-view>