<ion-modal-view>
	<ion-content>

		<div class="row nopadding">
			<div class="col nopadding back-back-advise">
				<div class="back-advise">
				</div>
				<div class="advise-cross" on-tap="dash.closeSeeMore()">
					<i class="icon ion-ios-close-empty"></i>
				</div>				
			</div>
		</div>


		<div class="row advise-content-row">
			<div class="col">
				<div class="row nopadding">
					<div class="col col-75 nopadding">
						<h3 class="advise-content-title">DEUSTCHE BANK</h3>
					</div>
					<div class="col nopadding advise-distance">500mts</div>
				</div>
				<p>Why let your money lie idle in your savings account? Put it to work in a high interest rate fixed deposit instead.</p>
			</div>
		</div>


		<div class="row nopadding advise-content-map">
			<div class="col nopadding">
				<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d9479.527168640194!2d9.95480847954776!3d53.559877585035224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sdeutsche+bank+hamburg!5e0!3m2!1ses!2sde!4v1476133901671" width="600" height="170" frameborder="0" style="border:0" allowfullscreen></iframe>		
			</div>
		</div>


		<div class="row nopadding advise-content-map">
			<div class="col nopadding">
				<div class="list">
				  <div class="item item-divider advise-divider">
				    Benefits
				  </div>

				  <a class="item advise-content-item">
				  	- Lock in high interest rates on your  money for longer tenure. <br>
				    - Avail an overdraft^ upto 95% against your Fixed Deposit at competitive rates. <br>
				    - Book a Fixed or Recurring Deposit    online with just 3 clicks!
				  </a>
				</div>
			</div>
		</div>

	</ion-content>
</ion-modal-view>