<ion-view view-title="SignUp" class="signUpView">
    <ion-content class="padding">

        <div class="stepsCircles">
            <i class="ion-ios-circle-outline"></i>
            <i class="ion-ios-circle-outline"></i>
            <i class="ion-ios-circle-outline"></i>
            <i class="ion-ios-circle-outline"></i>
            <i class="ion-record"></i>
        </div>

        <div class="row">
            <div class="col text-center">
                <img src="img/icon.png" class="imgIcon">
            </div>
        </div>


        <div class="row">
            <div class="col text-center">
                <h2 class="signUpTitle">LET'S HEAR YOU</h2>
                <h4 class="signUpSubtitle">You can ask what you need just talking</h4>
            </div>
        </div>

        <div class=" text-center">
            <button class=" button button-icon icon ion-android-microphone voiceIcon"></button>
        </div>

        <div class="row voice-subtitle-row">
            <div class="col text-center">
                <h4 class="signUpSubtitle voice"><b>This will allow you to approve banking operations and sign into the app</b></h4>
                <p></p>
              <button class="button button-clear button-light buttonWhite buttonAlignBottom maybe-later-button" ui-sref="app.chat">Maybe later</button>
            </div>
        </div>

    </ion-content>

    <ion-footer-bar class="nopadding">
        <button class="button button-full nomargin button-calm" ui-sref="app.chat" on-tap="">
            LET'S GO
        </button>
    </ion-footer-bar>

</ion-view>
